﻿<h2>@ViewBag.Title</h2>

<p>
    Log your each of your meals & snacks so you can keep an eye on your daily food/fat/calorie intake.
    You can even upload images of your favourite meals!
</p>

<p>
    Banner image is &copy; 2008 <a href="https://www.flickr.com/photos/horiavarlan/">Horia Varlan</a>,
    used under the <a href="https://creativecommons.org/licenses/by/2.0/legalcode">Creative Commons license</a>.
</p>
