﻿<h2>@ViewBag.Title</h2>

<address>
    Created by <a href="mailto:jonathan@greenmeadowsoftware.com">Jonathan Brunson</a><br />
    at <a href="http://www.greenmeadowsoftware.com">Green Meadow Software</a>
</address>
